<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title">About the ADS Prototype App</h3>
  </div>
  <div class="modal-body">
    The web site is for a patient to search and match the drug side effects.
    The patient can search drug based on the name, and find the detail information
    of this drug from live FDA FEARS system.  If the result is found,
    the site will display all side effect based on serious level.  If any symptom is
    matched and found, the patient is able to submit his/her report from MedWatch.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<div><a href ='#' (click)="open(content)" >About</a></div>
